.DS_Store
target
Cargo.lock
*.db
Pods/
*.so
__pycache__
*.pyc
jniLibs
*.xcuserstate
*.xcuserdatad
xcuserdata
*.a
*.dylib
bindings_kotlin
bindings_python
bindings_python/libuniffi_client.dylib
bindings_swift/module*
bindings_swift/rssdk.swift
*.xcframework
.build
*.zip
.swiftpm
*.dylib
.idea
.vscode
jniLibs/
.gradle/

frb_generated.rs
.dart_tool/
bridge_generated.dart/
pubspec.lock
restsend_dart/example/build/
restsend_dart/example/linux/flutter/ephemeral/
dart/restsend_dart/example/restsend_demo.sqlite3
