[package]
name = "restsend-wasm"
version = "1.0.5"
edition = "2021"
description = "A client for the retsend server"

[lib]
crate-type = ["cdylib"]

[features]
default = ["auth", "conversation", "topic", "message", "restsend-sdk/web"]
auth = []
conversation = []
topic = []
message = []
livechat = ["conversation", "message", "restsend-sdk/web"]
indexeddb = [
    "auth",
    "conversation",
    "topic",
    "message",
    "restsend-sdk/indexeddb",
]

[dependencies]
serde = "1.0.197"
restsend-sdk = { path = "../restsend" }
wasm-bindgen = "0.2.92"
wasm-bindgen-futures = "0.4.42"
serde-wasm-bindgen = "0.6.5"
futures-util = "0.3.30"
futures = "0.3.30"
js-sys = "0.3.69"
web-sys = "0.3.69"
chrono = "0.4.38"
log = "0.4.21"
[dev-dependencies]
wasm-bindgen-test = "0.3.42"

[profile.release]
lto = true
opt-level = "s"

[package.metadata.wasm-pack.profile.release]
wasm-opt = true
